<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Login</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	</head>
	
	<body>
		<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
        background-image: url('https://res.cloudinary.com/drmjk8zj1/image/upload/v1675212377/news-card-yellow_wa3hgh.png');
        height: 300px;
        "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -150px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        height: 60vh;
        ">
    <div class="card-body py-5 px-md-5">

      <div class="d-flex row justify-content-center">
        <div class="col-sm-6">
          <img src="https://res.cloudinary.com/drmjk8zj1/image/upload/v1675213325/Kantor-pusat-Maybank-IndonesiaDok.-Maybank_qjc0uk.jpg" alt="" style="width: 600px; height: auto;">
        </div>
        <div class="col-sm-6">
          <form th:action="@{/login}" method="post">
			   <img src="https://res.cloudinary.com/drmjk8zj1/image/upload/v1674388528/logoMaybank_lzd28j.png" alt="" style="width: 300px; height: auto;">
            <!-- Email input -->
            <div class="form-outline mb-4 row mt-2">
              <label class="form-label col-sm-4 fw-bold" for="form3Example3">Username</label>
              <div class="col-sm-8">
                <input type="text" name="username" id="form3Example3" class="form-control" required/>
                </div>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4 row">
              <label class="form-label col-sm-4 fw-bold" for="form3Example4">Password</label>
              <div class="col-sm-8">
                <input type="password" name="password" id="form3Example4" class="form-control" required/>
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-warning btn-block mb-4 fw-bold">
              Login
            </button>
				<span class="alert alert-success" th:if="${success}" th:text="${success}"></span>	
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
	</body>
</html>