<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Provider Page</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<style>body {font-family: arial;}</style>
		
		<!-- Scrollbar Custom CSS -->
	    <link
	      rel="stylesheet"
	      href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
	    />
	    
	    <!-- Bootstrap CSS -->
	    <link
	      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	      rel="stylesheet"
	      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	      crossorigin="anonymous"
	    />
	    
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://res.cloudinary.com/drmjk8zj1/raw/upload/v1675121482/style_smliqn.css" />
	
	    <!-- CDN Fontawesome -->
	    <script
	      src="https://kit.fontawesome.com/32f82e1dca.js"
	      crossorigin="anonymous"
	    ></script>
	</head>
	
	<body>
<!-- Nav Sidebar -->
    <nav
      class="sidebar offcanvas-md offcanvas-start"
      data-bs-scroll="true"
      data-bs-backdrop="false"
    >
      <div class="d-flex justify-content-end m-3 d-block d-md-none">
        <button
          aria-label="Close"
          data-bs-dismiss="offcanvas"
          data-bs-target=".sidebar"
          class="btn p-0 border-0 fs-4"
        >
          <i class="fas fa-close"></i>
        </button>
      </div>
      <div class="d-flex justify-content-center mt-md-5 mb-5 imageLogo" style="">
        <img
          src="https://res.cloudinary.com/drmjk8zj1/image/upload/v1674388528/logoMaybank_lzd28j.png"
          alt="Logo"
          width="225"
          height="100"
        />
      </div>
      <div class="pt-2 d-flex flex-column gap-5">
        <div class="menu p-0">
          <a href="/tranfer" class="item-menu active" style="font-weight: 700;">
            Provider
          </a>
        </div>
        <div class="menu">
          <a th:href="@{/logout}" class="item-menu" style="font-weight: 700;">
            Logout
          </a>
        </div>
      </div>
    </nav>
    <main class="content">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button
              class="sidebarCollapseDefault btn p-0 border-0 d-none d-md-block"
              aria-label="Hamburger Button"
            >
              <i class="fa-solid fa-bars"></i>
            </button>
            <button
              data-bs-toggle="offcanvas"
              data-bs-target=".sidebar"
              aria-controls="sidebar"
              aria-label="Hamburger Button"
              class="sidebarCollapseMobile btn p-0 border-0 d-block d-md-none"
            >
              <i class="fa-solid fa-bars"></i>
            </button>
          <div class="d-flex align-items-center justify-content-end gap-4">
            </button>
          </div>
        </div>
      </nav>
	<section class="p-3">					
					<div class="row">
						<div class="col-12">
							<div class="my-4 p-3 bg-warning text-center fw-bold h3 text-black rounded">
								<span>Bank Provider</span>
							</div>
						</div>
							<label>Nama</label>
						<div class="row">
							<div class="col-6">
							    <form method="post" th:action="@{/provider/save}" th:object="${providerForm}">
									<input class="form-control" type="text" th:field="*{name}" placeholder="enter bank provider"/>
									<span th:if="${#fields.hasErrors('name')}" class="error text-danger" th:errors="*{name}"></span><br/>
								<input class="btn btn-warning px-3 mb-5" type="submit" value="save"/><br/>
								</form>
								<span class="alert alert-success" th:if="${success}" th:text="${success}"></span>		
							</div>
						
						<div class="col-6">
							<form th:action="@{/provider(search=${keyword})}" method="get">
					            <div class="input-group mb-3">
					                <input id="keyword" class="form-control" name="keyword" type="search" th:value="${keyword}" placeholder="find provider">
					                    <div class="input-group-prepend" style="display: inline-block;">
					                        <button type="submit" class="btn btn-secondary"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
					                    </div>
					            </div>
			       		 	</form>
					
							<table class="table table-light table-striped">
								<thead>
									<tr>
										<th>Nama</th>
									</tr>
								</thead>
								<tbody th:each="provider : ${page.content}">
									<tr>
										<td th:text="${provider.name}"></td>
									</tr>
								</tbody>
							</table>
							
							<nav aria-label="...">
								<ul class="pagination">
						            <li th:if="${page.hasPrevious()}" class="page-item">
						                <a th:href="@{/provider(keyword=${keyword},pageNo=${page.number-1},pageSize=${page.size})}" class="page-link">Previous</a>
						            </li>
						            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}" >
						                <li th:if="${page.number == i}" class="page-link active" aria-current="page">[[${i}+1]]</li>
						                <li th:unless="${page.number == i}">
						                     <a th:href="@{/provider(keyword=${keyword},pageNo=${i},pageSize=${page.size})}" class="page-link">[[${i}+1]]</a>
						                </li>
						            </th:block>
						            <li th:if="${page.hasNext()}" class="page-item">
						                <a th:href="@{/provider(keyword=${keyword},pageNo=${page.number+1},pageSize=${page.size})}" class="page-link">Next</a>
						            </li>
					        	</ul>
							</nav>
						</div>
					</div>
			</div>
	</section>
	</main>
	</body>
		    <!-- Bootstrap JS -->
	    <script
	      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	      crossorigin="anonymous"
	    ></script>
	
	    <script
	      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
	      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
	      crossorigin="anonymous"
	    ></script>
	
	    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
	
	    <script>
	      $(document).ready(function () {
	        $('.sidebarCollapseDefault').on('click', function () {
	          $('.sidebar').toggleClass('active');
	          $('.content').toggleClass('active');
	        });
	      });
	    </script>
	<script inline="javascript">
		
		var baseUrl = "";
		
		function deleteData(data){
			var conf = confirm("Are You Sure ?")
			if(conf == true){
				window.location = baseUrl + "provider/delete?id="+data;
			}
			
			return false;
		}
	</script>
	
	
</html>