<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Transaksi Page</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
		<style>body {font-family: Arial, Helvetica, sans-serif;}</style>
		
		    <!-- Scrollbar Custom CSS -->
	    <link
	      rel="stylesheet"
	      href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
	    />
	    
	    <!-- Bootstrap CSS -->
	    <link
	      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	      rel="stylesheet"
	      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	      crossorigin="anonymous"
	    />
	    
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://res.cloudinary.com/drmjk8zj1/raw/upload/v1675121482/style_smliqn.css" />
	
	    <!-- CDN Fontawesome -->
	    <script
	      src="https://kit.fontawesome.com/32f82e1dca.js"
	      crossorigin="anonymous"
	    ></script>
	</head>
	
	<body>
 <!-- Nav Sidebar -->
    <nav
      class="sidebar offcanvas-md offcanvas-start"
      data-bs-scroll="true"
      data-bs-backdrop="false"
    >
      <div class="d-flex justify-content-end m-3 d-block d-md-none">
        <button
          aria-label="Close"
          data-bs-dismiss="offcanvas"
          data-bs-target=".sidebar"
          class="btn p-0 border-0 fs-4"
        >
          <i class="fas fa-close"></i>
        </button>
      </div>
      <div class="d-flex justify-content-center mt-md-5 mb-5 imageLogo" style="">
        <img
          src="https://res.cloudinary.com/drmjk8zj1/image/upload/v1674388528/logoMaybank_lzd28j.png"
          alt="Logo"
          width="225"
          height="100"
        />
      </div>
      <div class="pt-2 d-flex flex-column gap-5">
        <div class="menu p-0">
          <a href="/transfer" class="item-menu active" style="font-weight: 700;">
            Transaksi
          </a>
          <a href="/history" class="item-menu" style="font-weight: 700;">
            History Transfer
          </a>
        </div>
        <div class="menu">
          <a th:href="@{/logout}" class="item-menu" style="font-weight: 700;">
            Logout
          </a>
        </div>
      </div>
    </nav>
    <main class="content">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button
              class="sidebarCollapseDefault btn p-0 border-0 d-none d-md-block"
              aria-label="Hamburger Button"
            >
              <i class="fa-solid fa-bars"></i>
            </button>
            <button
              data-bs-toggle="offcanvas"
              data-bs-target=".sidebar"
              aria-controls="sidebar"
              aria-label="Hamburger Button"
              class="sidebarCollapseMobile btn p-0 border-0 d-block d-md-none"
            >
              <i class="fa-solid fa-bars"></i>
            </button>
          <div class="d-flex align-items-center justify-content-end gap-4">
            </button>
          </div>
        </div>
      </nav>
	<section class="p-3">					
							<div class="my-2 mb-5 py-4 fw-bold imageLogo rounded text-center h3">
								Transaksi Pengiriman Dana
							</div>
							
							<form method="post" th:action="@{/transfer/save}" class="mb-5">
							
							<div class="mb-3 row">
							    <label class="col-sm-3 col-form-label">No Rekening Pengirim</label>
							    <div class="col-sm-7">
							      	<input class="col-10 form-control" type="text" id="myInput1" onkeyup="myFunction()" th:field="${transferForm.rekening_pengirim.noRekening}" placeholder="Masukkan No Rekening Pengirim"/>
									<span th:if="${#fields.hasErrors('transferForm.rekening_pengirim.noRekening')}" class="error text-danger" th:errors="${transferForm.rekening_pengirim.noRekening}"></span>
							   		<span th:if="${warning}" th:text="${warning}" class="text-success"></span>
							    </div>
							    	<a class="col-sm-2" data-bs-toggle="modal" data-bs-target="#myModal">
                						Cek Pengirim
            						</a>
							</div>
							
							<div class="mb-3 row">
							    <label class="col-sm-3 col-form-label">No Rekening Penerima</label>
							    <div class="col-sm-7">
							    	<input class="col-12 form-control" type="text" id="myInput2" onkeyup="myFunction()" th:field="${transferForm.rekening_penerima.noRekening}" placeholder="Masukkan No Rekening Penerima"/>
								 	<span th:if="${#fields.hasErrors('transferForm.rekening_penerima.noRekening')}" class="error text-danger" th:errors="${transferForm.rekening_penerima.noRekening}"></span>
							    	<span th:if="${warning}" th:text="${warning}" class="text-success"></span>
							    </div>
								 <a class="col-sm-2" data-bs-toggle="modal" data-bs-target="#myModal1">
                						Cek Penerima
            						</a>
							</div>
							
							<div class="mb-3 row">
							    <label class="col-sm-3 col-form-label">Jumlah Amount</label>
							    <div class="col-sm-7">
							    	<input class="col-12 form-control" type="number" th:field="${transferForm.amount}" placeholder="Masukkan Jumlah Amount"/>
									<span th:if="${#fields.hasErrors('transferForm.amount')}" class="error text-danger" th:errors="${transferForm.amount}"></span>
							    </div>
							</div>
							
							<div class="my-5 row">
							    <div class="col-sm-12">
									<input class="btn btn-warning col-12 py-3 h3 fw-bold " type="submit" value="Kirim Amount"/>
									<span th:if="${success}" th:text="${success}" class="text-success"></span>
								</div>
							</div>
							
							</form>
							
						<span th:if="${success}" th:text="${success}" class="p-3 mb-5 bg-success text-white" style="margin-bottom: 70px;"></span>
							
					<table class="table table-light table-striped">
					<thead>
						<tr>
							<th>Rekening Pengirim</th>
							<th>Rekening Penerima</th>
							<th>Amount</th>
							<th>Bank Asal</th>
							<th>Bank Tujuan</th>
							<th>Fee</th>
						</tr>
					</thead>
					<tbody th:each="transfer : ${page}">
						<tr>
							<td th:text="${transfer.rekening_pengirim.noRekening}"></td>
							<td th:text="${transfer.rekening_penerima.noRekening}"></td>
							<td th:text="${transfer.amount}"></td>
							<td th:text="${transfer.rekening_pengirim.provider.name}"></td>
							<td th:text="${transfer.rekening_penerima.provider.name}"></td>
							<td th:text="${transfer.fee}"></td>
							
						</tr>
					</tbody>
					</table>
		</section>				
</main>

		<!-- Modal Pengirim-->
		<div class="modal fade" id="myModal">
		  <div class="modal-dialog">
		    <div class="modal-content">
		
		      <!-- Modal Header -->
		      <div class="modal-header">
		        <h4 class="modal-title">Atas Nama Pengirim</h4>
		        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		      </div>
		
		      <!-- Modal body -->
		      <div class="modal-body">
		        <div class="row">
							<ul id="pengirim">
								<div class="col-sm-12" th:each="rekening : ${rekeningList}">
									<li class = "list-unstyled">
										<strong>No Rekening : </strong>
										<a class="text-decoration-none text-dark" href="#" th:text="${rekening.noRekening}"></a></br>
										
										<strong>Atas Nama : </strong>
										<span th:text="${rekening.nasabah.namaLengkap}"></span></br>
										
										<strong>No Identitas : </strong>
										<span th:text="${rekening.nasabah.noIdentitas}"></span></br>
										
										<strong>Email : </strong>
										<span th:text="${rekening.nasabah.email}"></span></br>
										
										<strong>Contact : </strong>
										<span th:text="${rekening.nasabah.noContact}"></span></br></br>
									</li>
								</div>
							</ul>
				</div>
		      </div>
		
		    </div>
		  </div>
		</div>
		
		<!-- Modal Penerima-->
		<div class="modal fade" id="myModal1">
		  <div class="modal-dialog">
		    <div class="modal-content">
		
		      <!-- Modal Header -->
		      <div class="modal-header">
		        <h4 class="modal-title">Atas Nama Penerima</h4>
		        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		      </div>
		
		      <!-- Modal body -->
		      <div class="modal-body">
		        <div class="row">
					<ul id="penerima">
								<div class="col-sm-12" th:each="rekening : ${rekeningList}">
									<li class = "list-unstyled">
										<strong>No Rekening : </strong>
										<a class="text-decoration-none text-dark" href="#" th:text="${rekening.noRekening}"></a></br>
										
										<strong>Atas Nama Penerima: </strong>
										<span th:text="${rekening.nasabah.namaLengkap}"></span></br></br>
									</li>
								</div>
							</ul>
				</div>

	</body>
	
	    <!-- Bootstrap JS -->
	    <script
	      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	      crossorigin="anonymous"
	    ></script>
	
	    <script
	      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
	      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
	      crossorigin="anonymous"
	    ></script>
	
	    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
	
	    <script>
	      $(document).ready(function () {
	        $('.sidebarCollapseDefault').on('click', function () {
	          $('.sidebar').toggleClass('active');
	          $('.content').toggleClass('active');
	        });
	      });
	    </script>
		<script inline="javascript">
		
		var baseUrl = "";
		
		function deleteData(data){
			var conf = confirm("Are You Sure ?")
			if(conf == true){
				window.location = baseUrl + "transfer/delete?id="+data;
			}
			
			return false;
		}
		
		function clearSearch() {
        window.location = "[[@{/}]]";
	    }
	    
	    
	    function myFunction() {
		  // Deklarasi variable
		  var input1, input2, filter1, kirim, terima, li, a, b, i, j, value1, value2;
		  
		  input1 = document.getElementById('myInput1');
		  filter1 = input1.value.toUpperCase();
		  kirim = document.getElementById("pengirim");
		  kr = kirim.getElementsByTagName('li');
		
		  input2 = document.getElementById('myInput2');
		  filter2 = input2.value.toUpperCase();
		  terima = document.getElementById("penerima");
		  tr = terima.getElementsByTagName('li');
		
		  // Filter No Rekening pengirim
		  for (i = 0; i < kr.length; i++) {
		    a = kr[i].getElementsByTagName("a")[0];
		    
		    value1 = a.textContent;
		    if (value1.toUpperCase().indexOf(filter1) > -1) {
		      kr[i].style.display = "";
		    } else {
		      kr[i].style.display = "none";
		    }
		  }
		  
		  // Filter No Rekening penerima
		  for (j = 0; j < tr.length; j++) {
		    b = tr[j].getElementsByTagName("a")[0];
		    
		    value2 = b.textContent;
		    if (value2.toUpperCase().indexOf(filter2) > -1) {
		      tr[j].style.display = "";
		    } else {
		      tr[j].style.display = "none";
		    }
		  }
		  
		}
	</script>
</html>